[user]
    name = Chris Pearson
    email = chrispsn@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto

[format]
    pretty=format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[alias]
    lt = log --graph --all --abbrev-commit --date=relative -10

[core]
	excludesfile = /home/chris/.gitignore_global
